{% extends "base.html" %}

{% block content %}

 <div class="md:flex md:gap-5 lg:gap-10 mb-10 md:mb-40">
      
      <!-- Suggested restaurant section -->
      {% include 'includes/customer_sidebar.html' %}
      <main
        class="md:w-[80%] w-full mt-16 mr-32 border-t-4 p-7"
        style="background-color: #fff"
      >
        <!-- Welcome section -->
      
        
        <!-- Body section -->
        <div class="mt-6">
          <div class="flex gap-10">
            <h4 class="font-bold">SUGGESTED RESTAURANTS</h4>
            <span class="text-base"
              >Define
              <button class="text-red-800" type="button">
                Search criteria
              </button>
              to search for specific</span
            >
          </div>
          
          <ul class="mt-10 md:mx-5">
            <!-- Suggeisted reataureant items -->
            <li class="border-b pb-10">
              <div class="flex flex-col md:flex-row items-center">
                <!-- food image -->
                <div class="image-list w-[150px] h-[100px] mr-5">
                  <img src="/assets/images/Other Images/fb-restaurant-02.jpg" />
                </div>
                <!-- food details -->
                <div class="w-full mt-10 md:mt-0">
                  <!-- Type pf ffod -->
                  <div>
                    <h1 class="font-bold">Dragon Express</h1>
                    <p>
                      <span>type of food :</span> Apple Juice , Carrot Juice ,
                      Ice Cream
                    </p>
                  </div>
                  <!-- food details -->
                  <div class="flex mt-2">
                    <div class="">
                      <!-- bike icon ----------------------- -->
                      <div href="#" class="mr-5">
                        <span>
                          <svg
                            class="bg-gray-400 w-6 h-6 rounded-[50%] p-1 text-white hover:text-red-600"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                          >
                            <path
                              d="M4 13.2561V12H2V10H8.36547L11.2 8H14.6915L13.5996 5H11V3H15L16.0919 6H20V9H17.1838L18.6405 13.0022C21.0608 13.0764 23 15.0617 23 17.5C23 19.9853 20.9853 22 18.5 22C16.0147 22 14 19.9853 14 17.5C14 15.6722 15.0897 14.0989 16.6549 13.3944L15.4194 10H14.4718L12.89 15.87L12.8876 15.8689L12.8897 15.8745L9.96536 16.9389C9.98822 17.1227 10 17.31 10 17.5C10 19.9853 7.98528 22 5.5 22C3.01472 22 1 19.9853 1 17.5C1 15.5407 2.25221 13.8738 4 13.2561ZM6 13.0275C7.37617 13.1796 8.56531 13.9523 9.28138 15.0595L11.2383 14.3472L12.4032 10H11.8563L9 12H6V13.0275ZM5.5 20C6.88071 20 8 18.8807 8 17.5C8 16.1193 6.88071 15 5.5 15C4.11929 15 3 16.1193 3 17.5C3 18.8807 4.11929 20 5.5 20ZM18.5 20C19.8807 20 21 18.8807 21 17.5C21 16.1193 19.8807 15 18.5 15C17.1193 15 16 16.1193 16 17.5C16 18.8807 17.1193 20 18.5 20Z"
                            ></path>
                          </svg>
                        </span>
                        <div><b>Delivary time 10</b></div>
                      </div>
                      <!-- Clock icon -->
                      <div>
                        <span>
                          <svg
                            class="bg-gray-400 w-6 h-6 rounded-[50%] p-1 text-white hover:text-red-600"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                            />
                          </svg>
                        </span>
                        <div>
                          <b>Pikup time 10</b>
                          <address>
                            kabul - 6 district - barchi Lorem ipsum dolor sit
                            amet consectetur adipisicing elit.
                          </address>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- review icon and button -->
                <div
                  class="flex items-center justify-center mt-8 md:mt-0 gap-3 w-60"
                >
                  <a href="" class="border p-1">
                    <svg
                      class="w-7 h-7 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                      />
                    </svg>
                  </a>
                  <button
                    class="border font-bold text-white hover:text-black bg-gradient-to-r from-[#fbbf24] to-[#fb923c] p-2 px-2 rounded"
                  >
                    <a href="#" class="">View Menu</a>
                  </button>
                </div>
              </div>
            </li>
            <li class="border-b pb-10 mt-5 md:mt-0">
              <div class="flex flex-col md:flex-row items-center">
                <!-- food image -->
                <div class="image-list w-[150px] h-[100px] mr-5">
                  <img src="/assets/images/Other Images/fb-restaurant-02.jpg" />
                </div>
                <!-- food details -->
                <div class="w-full mt-10 md:mt-0">
                  <!-- Type pf ffod -->
                  <div>
                    <h1 class="font-bold">Dragon Express</h1>
                    <p>
                      <span>type of food :</span> Apple Juice , Carrot Juice ,
                      Ice Cream
                    </p>
                  </div>
                  <!-- food details -->
                  <div class="flex mt-2">
                    <div class="">
                      <!-- bike icon ----------------------- -->
                      <div href="#" class="mr-5">
                        <span>
                          <svg
                            class="bg-gray-400 w-6 h-6 rounded-[50%] p-1 text-white hover:text-red-600"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                          >
                            <path
                              d="M4 13.2561V12H2V10H8.36547L11.2 8H14.6915L13.5996 5H11V3H15L16.0919 6H20V9H17.1838L18.6405 13.0022C21.0608 13.0764 23 15.0617 23 17.5C23 19.9853 20.9853 22 18.5 22C16.0147 22 14 19.9853 14 17.5C14 15.6722 15.0897 14.0989 16.6549 13.3944L15.4194 10H14.4718L12.89 15.87L12.8876 15.8689L12.8897 15.8745L9.96536 16.9389C9.98822 17.1227 10 17.31 10 17.5C10 19.9853 7.98528 22 5.5 22C3.01472 22 1 19.9853 1 17.5C1 15.5407 2.25221 13.8738 4 13.2561ZM6 13.0275C7.37617 13.1796 8.56531 13.9523 9.28138 15.0595L11.2383 14.3472L12.4032 10H11.8563L9 12H6V13.0275ZM5.5 20C6.88071 20 8 18.8807 8 17.5C8 16.1193 6.88071 15 5.5 15C4.11929 15 3 16.1193 3 17.5C3 18.8807 4.11929 20 5.5 20ZM18.5 20C19.8807 20 21 18.8807 21 17.5C21 16.1193 19.8807 15 18.5 15C17.1193 15 16 16.1193 16 17.5C16 18.8807 17.1193 20 18.5 20Z"
                            ></path>
                          </svg>
                        </span>
                        <div><b>Delivary time 10</b></div>
                      </div>
                      <!-- Clock icon -->
                      <div>
                        <span>
                          <svg
                            class="bg-gray-400 w-6 h-6 rounded-[50%] p-1 text-white hover:text-red-600"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                            />
                          </svg>
                        </span>
                        <div>
                          <b>Pikup time 10</b>
                          <address>
                            kabul - 6 district - barchi Lorem ipsum dolor sit
                            amet consectetur adipisicing elit.
                          </address>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- review icon and button -->
                <div
                  class="flex items-center justify-center mt-8 md:mt-0 gap-3 w-60"
                >
                  <a href="" class="border p-1">
                    <svg
                      class="w-7 h-7 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                      />
                    </svg>
                  </a>
                  <button
                    class="border font-bold text-white hover:text-black bg-gradient-to-r from-[#fbbf24] to-[#fb923c] p-2 px-2 rounded"
                  >
                    <a href="#" class="">View Menu</a>
                  </button>
                </div>
              </div>
            </li>
            <li class="border-b pb-10 mt-5 md:mt-0">
              <div class="flex flex-col md:flex-row items-center">
                <!-- food image -->
                <div class="image-list w-[150px] h-[100px] mr-5">
                  <img src="/assets/images/Other Images/fb-restaurant-02.jpg" />
                </div>
                <!-- food details -->
                <div class="w-full mt-10 md:mt-0">
                  <!-- Type pf ffod -->
                  <div>
                    <h1 class="font-bold">Dragon Express</h1>
                    <p>
                      <span>type of food :</span> Apple Juice , Carrot Juice ,
                      Ice Cream
                    </p>
                  </div>
                  <!-- food details -->
                  <div class="flex mt-2">
                    <div class="">
                      <!-- bike icon ----------------------- -->
                      <div href="#" class="mr-5">
                        <span>
                          <svg
                            class="bg-gray-400 w-6 h-6 rounded-[50%] p-1 text-white hover:text-red-600"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                          >
                            <path
                              d="M4 13.2561V12H2V10H8.36547L11.2 8H14.6915L13.5996 5H11V3H15L16.0919 6H20V9H17.1838L18.6405 13.0022C21.0608 13.0764 23 15.0617 23 17.5C23 19.9853 20.9853 22 18.5 22C16.0147 22 14 19.9853 14 17.5C14 15.6722 15.0897 14.0989 16.6549 13.3944L15.4194 10H14.4718L12.89 15.87L12.8876 15.8689L12.8897 15.8745L9.96536 16.9389C9.98822 17.1227 10 17.31 10 17.5C10 19.9853 7.98528 22 5.5 22C3.01472 22 1 19.9853 1 17.5C1 15.5407 2.25221 13.8738 4 13.2561ZM6 13.0275C7.37617 13.1796 8.56531 13.9523 9.28138 15.0595L11.2383 14.3472L12.4032 10H11.8563L9 12H6V13.0275ZM5.5 20C6.88071 20 8 18.8807 8 17.5C8 16.1193 6.88071 15 5.5 15C4.11929 15 3 16.1193 3 17.5C3 18.8807 4.11929 20 5.5 20ZM18.5 20C19.8807 20 21 18.8807 21 17.5C21 16.1193 19.8807 15 18.5 15C17.1193 15 16 16.1193 16 17.5C16 18.8807 17.1193 20 18.5 20Z"
                            ></path>
                          </svg>
                        </span>
                        <div><b>Delivary time 10</b></div>
                      </div>
                      <!-- Clock icon -->
                      <div>
                        <span>
                          <svg
                            class="bg-gray-400 w-6 h-6 rounded-[50%] p-1 text-white hover:text-red-600"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                            />
                          </svg>
                        </span>
                        <div>
                          <b>Pikup time 10</b>
                          <address>
                            kabul - 6 district - barchi Lorem ipsum dolor sit
                            amet consectetur adipisicing elit.
                          </address>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- review icon and button -->
                <div
                  class="flex items-center justify-center mt-8 md:mt-0 gap-3 w-60"
                >
                  <a href="" class="border p-1">
                    <svg
                      class="w-7 h-7 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                      />
                    </svg>
                  </a>
                  <button
                    class="border font-bold text-white hover:text-black bg-gradient-to-r from-[#fbbf24] to-[#fb923c] p-2 px-2 rounded"
                  >
                    <a href="#" class="">View Menu</a>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </main>
    </div>

{% endblock content %}