{% extends "base.html" %}

{% block content %}
<!-- login page -->
    <div id="login-hero" class="flex items-center justify-center mx-auto ">
      <div
        class="w-full h-[800px] max-w-lg bg-white border-t-4 pb-4 rounded mx-4"
      >
        <div class="text-center mb-4">
          <h1 class="font-bold text-xl pt-5 text-black"></h1>
          <p class="text-1xl text-center px-4 ">please Enter your email address we will send you a link to reset password</p>
        </div>
        <hr class="h-px my-4 bg-black border-0 mx-10" />
        <!-- Form Login -->
        <form action="{% url 'forgot_password' %}" method='POST' class="mt-10 mx-10">
            {% csrf_token %}
          <label for="email">Email Address</label><br />
          <input
            type="email"
            class="w-full h-11 my-2 pl-3 rounded-md  outline-none border hover:border-gray-500"
            name="email"
            placeholder="Enter Your Email Address..."
          /><br />
          
          <!-- Submit Button -->
          <div class="mt-7 mb-10">
            <button
              class="w-full h-full text-white hover:text-black bg-gradient-to-r from-[#fbbf24] to-[#fb923c] rounded font-bold text-xl p-1"
            >
              Submit
            </button>
          </div>
          
        </form>
        {% include 'includes/messages.html' %}

        <!-- End Form Login -->
      </div>
    </div>


{% endblock%}