{% extends "base.html" %}

{% block content %}
<!-- Main -->
<div class="warpper flex md:flex-row flex-col my-20 md:w-[80%] m-auto items-start">
  <div class="md:w-[75%] px-10 md:px-0 md:mx-0 md:ml-52 h-auto w-full justify-center">
    <h1 class="text-2xl font-bold">{{ vendor_count }} Restaurants Found</h1>

    {% for vendor in vendors %}
    <div class="flex bg-white h-40 pt-8 my-6 md:w-[90%]">
      <!-- image -->
      <div class="w-[20%]">
        <div class="img-holder">
          <figure>
            <a href="#"><img src="{{ vendor.user_profile.profile_pic.url }}" width="100px" height="100px" class="img-list wp-post-image" alt="" /></a>
          </figure>
          {% if vendor.is_open %}
          <span class="restaurant-status open"><em class="bookmarkRibbon"></em>Open</span>
          {% else %}
          <span class="restaurant-status close"><em class="bookmarkRibbon"></em>Close</span>
          {% endif %}
        </div>
      </div>
      <!-- Rating star -->
      <div class="pl-3 pt-4 w-[50%]">
        <div class="flex mb-2 items-center">
          {% for i in "12345" %}
          <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
          {% endfor %}
        </div>
        <a href="{% url 'vendor_detail' vendor.vendor_slug %}">
          <h1 class="text-lg font-bold hover:text-red-600">{{ vendor.vendor_name }}</h1>
        </a>
        <span>Type of food: {{ vendor.food_type }}</span>
      </div>
      <div class="flex items-center w-[30%] justify-center">
        <a href="{% url 'vendor_detail' vendor.vendor_slug %}">
          <button type="button" class="border text-white hover:text-black bg-gradient-to-r from-[#fbbf24] to-[#fb923c] font-bold text-sm px-3 py-2 rounded">View Menu</button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="border md:w-[25%] px-10 md:px-0">
    <div class="bg-[#bd933f] p-3">
      <h3 class="font-bold">I'm Not Registered</h3>
      <p class="pt-2 font-poppins">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eveniet nobis aspernatur</p>
      <a class="hover:underline text-blue-600" href="restaurant_register.html">Add Your Business.</a>
    </div>
  </div>
</div>
{% endblock content %}
