
{% load static %}
<section
			style="
				background-image: url('{% static "assets/images/bg-image1.jpg" %}');
				height: 85vh;
			"
			class="w-full flex px-5 md:px-0 items-center justify-center flex-col bg-cover"
		>
			<!-- main title -->
			<div class="flex justify-center items-center">
				<h1 class="text-center text-black sm:text-3xl text-3xl font-bold">
					We Are In The Business Of Food<br />
					Our Restaurants Do
				</h1>
			</div>
			<div
				class="flex justify-center text-center mb-3 items-center p-3 text-xl"
			>
				<h3>
					Ridiculus sociosqu cursus neque cursus curae ante scelerisque
					vehicula.
				</h3>
			</div>
			<div
        class="flex flex-col gap-1 w-[80%] rounded p-1 md:flex-row md:gap-3 md:w-[40%] md:rounded md:h-14"
      >
        <!-- Name Searcher -->
        <div class="flex-1 mb-3 md:mb-0 md:mr-3">
          <input
            class="w-full shadow-lg bg-gray-200 rounded-lg outline-none md:h-full h-10 md:8 pl-3 placeholder-gray-500 placeholder-opacity-50"
            type="text"
            placeholder="RESTAURANT NAME"
          />
        </div>

        <!-- Button -->
        <div class="flex justify-center md:flex-none">
          <button
            class="px-10 md:h-full md:px-10 md:w-full rounded-md h-10 bg-gradient-to-r from-[#fbbf24] to-[#fb923c]"
          >
            <svg
              class="hover:animate-ping"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </button>
        </div>
      </div>
		</section>