{% load static %}
<header
			class="bg-gradient-to-r from-[#fbbf24] from-5% via-[#fb923c] w-full via-20% to-[#fbbf24] to-80% drop-shadow-lg"
		>
			<nav
				class="flex items-center justify-between flex-wrap bg-white-500 h-20 px-5"
			>
				<!-- Logo image -->
				<div class="flex items-center text-black">
					<a href="{% url 'home' %}">
						<img
							src="{% static 'assets/images/logo/foodOnlineLogo.png' %}"
							class="h-11 md:h-12"
							alt="Logo"
						/>
					</a>
					<!-- Search Box -->
					<div
						class="hidden lg:flex items-center w-72 h-11 rounded-md relative ml-3 font-light"
					>
						<label for="focus" class="absolute right-3">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
								/>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
								/>
							</svg>
						</label>
						<input
							class="w-full rounded-lg p-2 outline-none border-black"
							type="text"
							id="focus"
							placeholder="Enter your delivery location"
						/>
					</div>
				</div>
				<!-- Register button -->
				<div class="hidden lg:flex items-center">
					<!-- add to card button -->
					{% if user.is_authenticated %}
          <a href="{% url 'cart' %}" class="hover:text-red-800 mr-6">
            <button
              class="py-4 px-1 relative text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out"
              aria-label="Cart"
            >
              <svg
                class="h-8 w-8"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                ></path>
              </svg>
              <span class="absolute inset-0 object-right-top -mr-6">
                <div
                  class="inline-flex items-center px-1.5 py-0.5  border-white rounded-full text-xs font-semibold leading-4 bg-red-500 text-white"
                >{{cart_count}}
                </div>
              </span>
            </button>
          </a>
		   {% endif %}
					<a
						href="{% url 'marketplace' %}"
							class="inline-block text-sm px-4 py-2 rounded text-white hover:bg-white hover:text-black bg-red-700 font-bold lg:mt-0"
							>MARKETPLACE</a
						>
					<label class="font-bold mr-3 ml-3 text-1xl">
						{% if user.is_authenticated %}

						<a href="{% url 'logout' %}" class="cursor-pointer">Logout</a> /
						<a href="{% url 'my_account' %}" class="cursor-pointer">MY Account</a> 
						{% else%}
							<a href="{% url 'login' %}" class="cursor-pointer">Login</a> /
							<a href="{% url 'register' %}" class="cursor-pointer">Register</a> 
						{% endif%}
					</label>
					<button>
						<a
							href="{% url 'register_vendor' %}"
							class="inline-block text-sm px-4 py-2 rounded text-white hover:bg-white hover:text-black bg-red-700 font-bold lg:mt-0"
							>REGISTER RESTAURANT</a
						>
					</button>
				</div>
				<!-- Mobile and Tablet menu button -->
				<div class="lg:hidden flex items-center">
					<!-- add to card button -->
          <a href="card.html" class="hover:text-red-800 mr-6">
            <button
              class="py-4 px-1 relative  border-transparent text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out"
              aria-label="Cart"
            >
              <svg
                class="h-10 w-8"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                ></path>
              </svg>
              <span class="absolute inset-0 object-right-top -mr-6">
                <div
                  class="inline-flex items-center px-1.5 py-0.5 border-2 border-white rounded-full text-xs font-semibold leading-4 bg-red-500 text-white"
                >
                  6
                </div>
              </span>
            </button>
          </a>

					<button
						id="menu-toggle"
						class="text-black focus:outline-none md:cursor-pointer"
					>
						<svg
							class="w-7 h-7 md:w-10 md:h-10"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M4 6h16M4 12h16M4 18h16"
							></path>
						</svg>
					</button>
				</div>
			</nav>
			<!-- Mobile and Tablet menu -->
			<div class="mobile-menu pb-8 hidden lg:hidden">
				<ul class="space-y-3 mt-4 px-5">
					<!-- serach box -->
					<li class="flex mb-7">
						<div
							class="flex mr-8 items-center w-full h-11 relative font-light rounded"
						>
							<label for="focus" class="absolute right-3">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="w-6 h-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
									/>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
									/>
								</svg>
							</label>
							<input
								class="p-2 w-full sm:text-lg outline-none rounded-lg md:text-lg text-sm"
								type="text"
								id="focus"
								placeholder="Enter your delivery location"
							/>
						</div>
						<button
							class="text-sm px-4 rounded text-white hover:bg-white hover:text-black bg-red-700 font-bold py-1"
						>
							<a href="login.html" class="cursor-pointer w-auto text-center"
								>LOGIN</a
							>
						</button>
					</li>
					<!-- market place -->
					<li class="w-full">
					
						<a
							href="{% url 'marketplace' %}"
							class="block text-white font-bold rounded-md hover:bg-white hover:text-black text-sm bg-red-700 py-1.5 mx-32 text-center"
							>MARKETPLACE</a
						>
					</li>
					<li class="w-full">
						<a
							href="User_Register.html"
							class="cursor-pointer block text-white rounded-md hover:bg-white hover:text-black text-sm bg-red-700 font-bold py-1.5 text-center mx-32"
							>REGISTER</a
						>
					</li>
					<li class="w-full">
						<a
							href="restaurant_register.html"
							class="block text-sm text-white rounded-md hover:bg-white hover:text-black bg-red-700 py-1.5 font-bold mx-32 text-center"
							>REGISTER RESTAURANT</a
						>
					</li>
				</ul>
			</div>
		</header>