{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/slider_style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.0.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">

    <title>Multi Vendor Restaurant </title>
</head>
<body class="font-poppins" style="background-color: #ebedf3">
    <!-- Navbar section -->
    {% include 'includes/navbar.html' %}
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    {% include 'includes/footer.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'assets/Js/script_slider.js' %}"></script>
    <script src="{% static 'assets/Js/darkMode.js' %}"></script>
    <script src="{% static 'assets/Js/responsive_codes.js' %}"></script>
    <script src="{% static 'assets/Js/scripts.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Include the PayPal JavaScript SDK with additional parameters -->
    <script src="https://www.paypal.com/sdk/js?client-id={{PAYPAL_CLIENT_ID}}"></script>
    <script src="//cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#order_table').DataTable();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
