
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero Section ---------------------------------------->
		{% include 'includes/cover.html' %}
		<!-- Top restaurnat  -->
		<section class="pt-6 md:pt-10" id="top_wrapper_restaurant">
			<!-- name -->
			<h1>TOP RESTAUANT</h1>
			<p class='mx-80 text-center'>Top restaurants offer more than just meals; they create unforgettable dining experiences with exceptional cuisine, ambiance, and service. These establishments combine creativity, attention to detail, and an atmosphere that satisfies all the senses.</p>
			<div class="pt-5" id="top-restaurant">
					<div class="wrapper">
					<i id="left" class="fa-solid fa-angle-left border border-black"></i>
					<ul class="carousel">
						{% for vendor in vendors %}
						<li class="card">
							<div class="img">
								<a href="{% url 'vendor_detail' vendor.vendor_slug %}">
									{% if vendor.user_profile.profile_pic %}

									<img
										src="{{vendor.user_profile.profile_pic.url}}"
										alt="img"
										draggable="false"
									/>
									{% else %}
									<img
										src="{%  static 'assets/images/default-profile.PNG' %}"
										alt="img"
										draggable="false"
									/>
									{% endif %}
								</a>
							</div>
							<h2 class='mt-6 '>{{vendor.vendor_name}}</h2>
						</li>
				{% endfor %}
						
					</ul>
					<i id="right" class="fa-solid fa-angle-right border border-black"></i>
				</div>
			</div>
		</section>
		<!-- Popular Restaurant ------------------------------------------- --> 
		<section class="md:mx-24 mx-10 border-t-2 md:border-t-0 md:mt-10 pb-10">
			<!-- Title -->
			<div id="element-title" class="text-center mb-10">
			  <h2 class="md:text-2xl text-xl font-bold pb-1 pt-3">
				Choose From Most Popular Restaurants
			  </h2>
			  <p class="text-lg md:text-sm">
					Discover the top-rated restaurants with the most popular dishes. Satisfy your cravings with our handpicked selections.
			  </p>
			</div>
			<!-- Card for Restaurant -->
			<div class="">
			  <ul class="w-full gap-x-10 items-center justify-evenly flex flex-wrap">
				{%for vendor in vendors %}
				<li class="flex md:w-[48%] w-full mt-5" style='width: 48%;'>
				  <div
					class="relative flex bg-white w-full shadow-md items-center h-44 px-7 rounded-md"
				  >
					<!-- Image -->
					<div class="w-[20%]">
					  <div class="img-holder">
						{% if vendor.user_profile.profile_pic %}
						<figure>
						  <a href="#">
							<img
							  src="{{vendor.user_profile.profile_pic.url}}"
							  style="width: 100px; height: 100px;"
							  class="img-list wp-post-image rounded-md"
							  alt=""
							/>
						  </a>
						</figure>
						{% else %}
						<figure>
							<a href="#">
							  <img
								src="{%  static 'assets/images/default-profile.PNG' %}"
								width="100px"
								height="100px"
								class="img-list wp-post-image "
								style='width: 160px;height:160px'
								alt=""
							  />
							</a>
						  </figure>

						{% endif%}
						{% if vendor.is_open %}
						<span
						  class="restaurant-status absolute -left-2 text-white flex text-sm px-2 before:border-t-2 top-2 bg-[#ed1b24]"
						  ><em class="bookmarkRibbon"></em>Open</span
						>
						{% else %}
						<span
						  class="restaurant-status close absolute -left-2 text-white flex text-sm px-2 before:border-t-2 top-2 bg-[#ed1b24]"
						  ><em class="bookmarkRibbon"></em>Close</span
						>
						{% endif %}
					  </div>
					</div>
					<!-- Rating star -->
					<div class="pl-3 pt-4 w-[50%]">
						<h1 class='pl-1 font-bold'>

							<a href="{% url 'vendor_detail' vendor.vendor_slug %}">{{vendor}}</a>
						</h1>
						<div class="flex items-center gap-x-2 justify-start mt-2">
							<svg
							  xmlns="http://www.w3.org/2000/svg"
							  fill="none"
							  viewBox="0 0 24 24"
							  stroke-width="1.5"
							  stroke="currentColor"
							  class="w-6 h-6 "
							>
							  <path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
							  />
							  <path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
							  />
							</svg>
							
							<span>{{vendor.user_profile.address}}</span>
						  </div>
					</div>
				  </div>
				</li>
				{% endfor %}
				
			  </ul>
			</div>
		  </section>
		{% comment %} <section class="md:h-72 md:mx-24 mx-10 border-t-2 md:border-t-0 md:mt-10">
			<!-- Title -->
			<div id="element-title" class="text-center mb-5">
				<h2 class="md:text-2xl text-xl font-bold pb-1 pt-3">
					Choose From Most Popular Restaurants
				</h2>
				<p class="text-lg md:text-sm">
				</p>
			</div>
			<!-- Card for Restaurant -->
			<div class="md:grid md:grid-cols-2 gap-4">
				{% for vendor in vendors %}
				<!-- inside Card -->
				<!-- first card -->
				<div class="flex mb-5 shadow-lg bg-white h-44 pt-8 border">
					<!-- image -->
					{% if vendor.user_profile.profile_pic %}
					<div>

						<img
							class="border ml-4"
							src="{{vendor.user_profile.profile_pic.url}}"
							alt=""
							width="100px"
							height="100px"
						/>
					</div>

					{% else %}
					<div>
						<img
							class="border ml-4 "
							src="{%  static 'assets/images/default-profile.PNG' %}"
							alt=""
							width="100px"
							height="100px"
						/>
					</div>
					{% endif %}


					<!-- Rating star -->
					<div class="pl-2 pt-4">
						<a href="#">
							<h1 class="text-lg font-bold hover:text-red-600">
								{{vendor}}
							</h1>
						</a>
						<span>{{vendor.user_profile.address}}</span>
					</div>
				</div>
				<!-- second Card -->
				{% endfor %}
			</div>
		</section> {% endcomment %}
		{% endblock %}